
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Area Chart -->
<div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
               <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">İsim</th>
      <th scope="col">Alanı</th>
      <th scope="col">Kullandığı izin sayısı</th>
      <th scope="col">Kalan izin hakkı</th>
      <th scoper="col"><button type="button" class="btn btn-info">Kullanıcı Ekle</button></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Aykut Önal</td>
      <td>Bilgisayar Mühendisi</td>
      <td>15</td>
      <td>5</td>
      <td><button class="btn btn-success" type="button">Güncelle</button>&nbsp;<button class="btn btn-danger" type="button">Sil</button></td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>İslam Akgüç</td>
      <td>Bilgisayar Mühendisi</td>
      <td>13</td>
      <td>7</td>
      <td><button class="btn btn-success" type="button">Güncelle</button>&nbsp;<button class="btn btn-danger" type="button">Sil</button></td>
 
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Esra Kahya</td>
      <td>Bilgisayar Mühendisi</td>
      <td>14</td>
      <td>6</td>
      <td><button class="btn btn-success" type="button">Güncelle</button>&nbsp;<button class="btn btn-danger" type="button">Sil</button></td>
    </tr>
  </tbody>
</table>
            </div>
        </div>
    </div>
</div>

